@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    /* color: #222; */
    color: #21665e; 
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 80px;
    background: #90C8AC;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    /* color: #19282F; */
    /* color: #184D47; */
    color: #21665e; 
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    /* color: #2b9286; */
    color: #F6D860;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #F6D860;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* HOME PAGE */
#hero {
    background-image: url("img/noodles4.png");
    background-color: #c6e2d4;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero button{
    background-image: url("img/button2.png");
    background-color: transparent;
    color: #21665e;
    border: 0;
    padding: 60px 250px 20px 100px;
    font-weight: 600;
    font-size: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #21665e;
    background-color: #F6D860;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


/*    NEW NEW   */
#product1 .box {
    background-color: #fff;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 0 25px 0;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 100px;
    display: flexbox;
}
#product1.box:after {
    content: '';
    display: block;
    clear: both;
}
#product1 .col-5:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .col-5{
    width: 23%;
    min-width: 250px;
    height: 320px; /* Ubah ukuran box*/
    /* height: 220px;*/ /*Ubah ukuran box */
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px 0;
    border-radius: 25px;
    border: 1px solid #cce7d0;
    transition: 0.2s ease;
    position: relative;
    cursor: pointer;
}
#product1 .box .col-5 img{
    width: 100%;
    border-radius: 20px;
}
#product1 .box .col-5 h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .box .col-5 h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .box .col-5 span{
    color: #606063;
    font-size: 12px;
}
#product1 .box .col-5 i{
    color: rgba(243, 181, 25);
    font-size: 12px;
}
#product1 .col-5 .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7de;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* News Letter Footer */
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    /* background-color: #558776; */
    background-color: #184D47;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #81a093;
}
#newsletter p span{
    color:rgba(243, 181, 25);
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
    width: 90px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo {
    margin-bottom: 30px;
    margin-top: 0px;
}
footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow {
    margin-top: 20px;
}
footer .follow i{
    color: #184D47;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #184D47;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* SHOP PAGE*/
#page-header{
    background-image: url("img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* DETAILS PRODUCT*/
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details button{
    background: #088178;
    color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
    width: 90px;
    height: 40px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}

/* LOGIN PAGE*/
#bg-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("img/noodles4.png");
    background-color: #c6e2d4;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
#bg-login .box-login .btn{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
    width: 90px;
    height: 40px;
    margin-left: 0px;
    margin-top: 5px;
    cursor: pointer;
}
#bg-login .box-login .input-control{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

/* PROFIL PAGE*/
#heroprofil {
    /* background-image: url("img/background.jpg"); */
    background-color: #c6e2d4;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#heroprofil .container .box .input-control{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 500px;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
#heroprofil .btn{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
    width: 140px;
    height: 40px;
    margin-left: 0px;
    cursor: pointer;
}
#heroprofil .container h2{
    margin-top: 25px;
}

/* DATA KATEGORI*/
#herokategori {
    /* background-image: url("img/background.jpg"); */
    background-color: #c6e2d4;
    /* height: 100vh; */
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    /* background-position: top 25% right 0%; */
    padding: 0px 80px 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    /* color: #222; */
    color: #21665e; 
    margin-top: 40px;
}
#herokategori button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-radius: 6px;
    border-color: transparent;
    width: 100px;
    height: 40px;
    margin-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
#herokategori a{
    color: #fff;
    /* white-space: nowrap;
    border-radius: 6px;
    border-color: transparent;
    width: 100px;
    height: 40px;
    margin-left: 25px;
    margin-bottom: 10px; */
    text-decoration: none;
    cursor: pointer;
}

#herokategori .button1{
    background-color: #811a08;
    color: #fff;
    white-space: nowrap;
    border-radius: 6px;
    border-color: transparent;
    width: 100px;
    height: 40px;
    margin-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}
#herokategori .table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 70px;
}
#herokategori .table tr {
    height: 30px;
}
#herokategori .table tr td {
    padding: 5px 10px;
}
 
/*ABOUT PAGE*/
#page-header2{
    background-image: url("img/about/banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header2 .about-header{
    background-image: url("img/about/banner.png");
}
#page-header2 h2 {
    font-size: 46px;
    line-height: 54px;
    /* color: #222; */
    color: #c6e2d4; 

}
#page-header2 p {
    font-size: 16px;
    color: #c6e2d4;
    margin: 15px 0 20px 0;
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head div{
    padding-left: 40px;
}


/*CONTACT DETAILS*/
#contact-details{
   display: flex; 
   align-items: center;
   justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 25px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display:flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
/* #contact-details .map{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
} */

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 50px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid#e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-radius: 6px;
    border-color: transparent;
    width: 100px;
    height: 40px;
    margin-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
    /* margin-left: 60px; */
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 90%;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}



@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #c6e2d4;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 20px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #184D47;
        font-size: 24px;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #heroprofil {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #herokartegori {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container{
        justify-content: center;
    }
    #newsletter .form{
        width: 60%;
    }
    /*CONTACT PAGE*/
    #form-details {
        padding: 40px;
    }
    #form-details form{
        width: 50%;
    }
}
@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    #heroprofil {
        padding: 0 20px;
        background-position: 55%;
    }
    #herokategori {
        padding: 0 20px;
        background-position: 55%;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }
    footer .copyright{
        text-align: start;
    }
    /* DETAIL PRODUCT*/
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
    /*ABOUT PAGE*/
    #about-head{
        flex-direction: column;
    }
    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div{
        padding-left: 0px;
    }
    /*CONTACT PAGE*/
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
        width: 100%;
    }
    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details{
        margin-bottom: 30px;
        width: 100%;
    }
}